<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Olá {{ title }}!
  </h1>
  <img
    width="300"
    alt="Banner Devschool"
    src="https://i.ibb.co/BPgthL0/Mjvschoolangular.png"/>
    
</div>



<div>
<a href="https://www.linkedin.com/posts/moniquepsicologia_angular-mjvacademy-inclusaeto-activity-6842080886268276736-Cp0X"><button>MJVAcademy</button></a>
</div>


<div>
    <p>Setembro 2021</p>
    <p>Foi uma alegria imensa ser contemplada com bolsa de estudos 100% integral para os estudos com o Framework Angular.</p>
    <p>O onboarding foi incrível! Amei ver os pets da galera e a apresentação "humanizada" da equipe linda que está abraçando este projeto! É muito bom sentir a recepção caloroza que tivemos!</p>  
    <p>As aulas acontecem à noite, três vezes durante a semana e terá um total de 90 aulas. O término está previsto para a primeira semana de dezembro.</p>
    <p>Mesmo com aulas ao vivo, temos acesso às gravações, além de um grupo no Discord para sanar dúvidas, compartilhar os exercícios e fortalecer o networking. Considero um apoio fundamental ter as aulas disponíveis para assistirmos novamente ou mesmo quando não podemos estar presente no horário da aula. Eu mesma, não compareci a uma aula e em outra, a conexão com a internet aqui em casa não estava boa, então, as aulas gravadas foram fundamentais para que a peteca não caia...rs e eu me mantenha alinhada com as atividades.</p>
  </div>  

  <div>
      <a href="romeniaishiyamawebdesigner.netlify.app">Romênia Ishiyama</a>
  </div>